@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */

@import "../node_modules/css-star-rating/css/star-rating.css";

.five-lines-paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
